<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>150</h3>
                    <p>新订单</p>
                </div>
                <div class="icon">
                    <i class="fas fa-running"></i>
                </div>
                <a href="#" class="small-box-footer"><i class="fas fa-ellipsis-h"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>占比</p>
                </div>
                <div class="icon">
                    <i class="fas fa-baby"></i>
                </div>
                <a href="#" class="small-box-footer"><i class="fas fa-ellipsis-h"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>44</h3>
                    <p>新用户注册</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-check"></i>
                </div>
                <a href="#" class="small-box-footer"><i class="fas fa-ellipsis-h"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>65</h3>
                    <p>访客</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="#" class="small-box-footer"><i class="fas fa-ellipsis-h"></i></a>
            </div>
        </div>
    </div>
</div>
